<div {{bindAttr class=domClass}}>
    {{outlet}}

    <hr>

    <div class="algo-input">
        <button class="btn btn-default" {{action 'reset'}}>Reset</button>
        <button class="btn btn-default" {{action 'start'}}>Start</button>
        <button class="btn btn-default" {{action 'next'}}>Next step</button>
    </div>
</div>
